/* You can add global styles to this file, and also import other style files */
li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large;
}

.panel-heading{
    text-align: center;
    background:mediumpurple!important
}

h1{
    text-align: center;
}

.btn{
    width:100px;
}